
.icon-erp-sign-out:before { content: '\e803'; } /* '' */
.icon-erp-sort:before { content: '\f0dc'; } /* '' */
.icon-erp-sorted-asc:before { content: '\f0dd'; } /* '' */
.icon-erp-sorted-desc:before { content: '\f0de'; } /* '' */