
.icon-erp-sign-out:before { content: '\e803'; } /* '' */
.icon-erp-sort:before { content: '\f0dc'; } /* '' */
.icon-erp-triangle-down:before { content: '\f0dd'; } /* '' */
.icon-erp-triangle-up:before { content: '\f0de'; } /* '' */