.kint-rich {
    position:relative;
    left:0;
    top:0;
    z-index:1000000;
}
//////////
// FORM //
//////////
.form-with-validation {
    .form-group {
        //for tooltip messages to work
        position:relative;
    }
}
.icon-form-reload {
    cursor: pointer;
}
