//include local variables
@import "../../../../../../local/simplex/sass/variables.scss";
@import "../../../../../../local/simplex/sass/bootstrap-variables.scss";
//include bootstrap functions, mixins and variables
@import "../../../../../../../public/share/node_modules/bootstrap/scss/mixins";
@import "../../../../../../../public/share/node_modules/bootstrap/scss/functions";
@import "../../../../../../../public/share/node_modules/bootstrap/scss/variables";

$darker: rgba(0, 0, 0, .25);
//navigation
@import './navigation.scss';
//page main content
main {
    margin-left:$sideBarWidth;
    transition: margin-left $sideBarTransitionDuration;
    padding-top:$navBarHeight;
    &.wide {
        margin-left:0;
    }
}
//CRUDL form
.crudl-form {
    .form-group {
        //for tooltip messages to work
        position:relative;
    }
}
