/* SASS load paths for absolute imports is set into private/share/packagist/vukbgit/simplex/bin/sass.sh to:
- public/share/node_modules
- private
*/
//include local variables
@import "local/simplex/sass/bootstrap-variables.scss";
//include bootstrap functions, mixins and variables
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

$darker: rgba(0, 0, 0, .25);
//navigation
@import 'share/packagist/vukbgit/simplex/src/Erp/sass/navigation.scss';
//tables
@import 'share/packagist/vukbgit/simplex/src/Erp/sass/table.scss';
//forms
@import 'share/packagist/vukbgit/simplex/src/Erp/sass/form.scss';
//navbar
.navbar {
    &.navbar-dark {
        color: $navbar-dark-color;
        [class^="icon-"] {
            color: $navbar-dark-color;
        }
    }
}
//page main content
main {
    margin-left:$sideBarWidth;
    transition: margin-left $sideBarTransitionDuration;
    padding-top:$navBarHeight;
    &.wide {
        margin-left:0;
    }
}
/* tabs */
.nav-tabs {
    .nav-link {
        text-transform: capitalize;
        &.active {
            font-weight: bold;
        }
    }
}
//collapse trigger
.collapse-trigger {
  cursor: pointer;
  &[aria-expanded=false]::after {
    content: "\0169";
    font-family: fontello;
    display:inline;
    text-transform: lowercase;
    text-align:right;
    padding-left:5px
  }
  &[aria-expanded=true]::after {
    content: "\016A";
    font-family: fontello;
    display:inline;
    text-transform: uppercase;
    text-align:right;
    padding-left:5px
  }
}
.icon-erp-development {
  font-size: 2rem;
}
//fullcalendar
@media(max-width: 767px) {
  .fc-toolbar.fc-header-toolbar {
    display: flex;
    flex-direction: column;
  }
  .fc-toolbar.fc-header-toolbar .fc-left {
    order: 3;
  }
  .fc-toolbar.fc-header-toolbar .fc-center {
    order: 1;
  }
  .fc-toolbar.fc-header-toolbar .fc-right {
    order: 2;
  }
  .fc-toolbar-chunk {
    margin-bottom: 5px;
  }
}

