#list-navbar {
    padding-bottom:0;
    > * {
        margin-right: 1rem;
        margin-bottom:.5rem;
    }
}
.erp-table {
    button {
        border-width:0;
        background-color:transparent;
        padding:0;
    }
    th {
        vertical-align: top !important;
    }
    td {
        &.record-action {
            width:1%;
            padding:.3rem 1rem;
            white-space: nowrap;
        }
    }
}
