.erp-table {
    button {
        border-width:0;
        background-color:transparent;
        padding:0;
    }
    th {
        vertical-align: top !important;
    }
    td {
        &.record-action {
            width:1%;
            white-space: nowrap;
        }
    }
}
