
.icon-brands-facebook:before { content: '\01ca'; } /* 'Ǌ' */
.icon-brands-googleplus:before { content: '\01cb'; } /* 'ǋ' */
.icon-brands-linkedin:before { content: '\01cc'; } /* 'ǌ' */
.icon-brands-twitter:before { content: '\01cd'; } /* 'Ǎ' */
.icon-brands-whatsapp:before { content: '\01ce'; } /* 'ǎ' */
.icon-brands-pdf:before { content: '\01cf'; } /* 'Ǐ' */