
.icon-brands-facebook-1:before { content: '\01ca'; } /* 'Ǌ' */
.icon-brands-googleplus:before { content: '\01cb'; } /* 'ǋ' */
.icon-brands-linkedin-1:before { content: '\01cc'; } /* 'ǌ' */
.icon-brands-twitter:before { content: '\01cd'; } /* 'Ǎ' */
.icon-brands-whatsapp:before { content: '\01ce'; } /* 'ǎ' */
.icon-brands-pdf:before { content: '\01cf'; } /* 'Ǐ' */
.icon-brands-youtube:before { content: '\01d0'; } /* 'ǐ' */
.icon-brands-instagram:before { content: '\01d1'; } /* 'Ǒ' */
.icon-brands-x:before { content: '\01d2'; } /* 'ǒ' */
