//sass variables for the whole application
/* navigation hamburger size
$hamburgerWidth:px;
$hamburgerHeight:px;
*/
//ERP variables
$navBarHeight:48px;
$sideBarWidth:300px;
$sideBarTransitionDuration: 1s;
