#ENVIRONMENT
SetEnvIf Host ^phpcraft\.vuk\.bg\.it$ ENVIRONMENT=development
SetEnvIf Host ^simplex\.vuk\.bg\.it$ ENVIRONMENT=production
Options +FollowSymlinks
RewriteEngine on
#default domain page
#RewriteRule ^/?$ /it/sostienici/protezione [R,L]
#RewriteRule ^backend/?$ /backend/backend-authentication/login-form [R,L]
#requests pointing to real files are not redirected
RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [NC]
