{% extends '@share/Erp/templates/table.twig' %}

{% import '@share/Erp/templates/macros/table.twig' as tableMacros %}

{% block tableHeaders %}
    {{ tableMacros.displaySortableHeader(_context, 'FIELD-NAME') }}
{% endblock %}

{% for record in records %}
    {% block rowFields %}
    <td>{{ record.FIELD-NAME }}</td>
    {% endblock %}
{% endfor %}
