{% extends 'templates/application.twig' %}

{% block head %}
    {{ parent() }}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="public/local/simplex/css/bootstrap.min.css">
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="public/share/jquery/dist/jquery.slim.min.js"></script>
<script src="public/share/popper.js/dist/umd/popper.min.js"></script>
<script src="public/share/bootstrap/dist/js/bootstrap.min.js"></script>
{% endblock %}

{% block body %}
<h2>frontend</h2>
{% block pageContent %}{% endblock %}
{% endblock %}
