[class^="icon-"], [class*=" icon-"] {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
 
  /* fix buttons height */
  line-height: 1em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
}
 
.icon-social-facebook { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x01ca;&nbsp;'); }
.icon-social-googleplus { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x01cb;&nbsp;'); }
.icon-social-linkedin { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x01cc;&nbsp;'); }
.icon-social-twitter { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x01cd;&nbsp;'); }
.icon-social-whatsapp { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x01ce;&nbsp;'); }