
.icon-form-trash:before { content: '\0100'; } /* 'Ā' */
.icon-form-upload:before { content: '\0101'; } /* 'ā' */
.icon-form-reload:before { content: '\0102'; } /* 'Ă' */
.icon-form-download:before { content: '\0103'; } /* 'ă' */
.icon-form-zoom-in:before { content: '\0104'; } /* 'Ą' */
.icon-form-move:before { content: '\0105'; } /* 'ą' */
.icon-form-plus-circled:before { content: '\0106'; } /* 'Ć' */
.icon-form-checked-circled:before { content: '\0107'; } /* 'ć' */
.icon-form-exclamation-circled:before { content: '\0108'; } /* 'Ĉ' */
.icon-form-hourglass:before { content: '\0109'; } /* 'ĉ' */
.icon-form-pause:before { content: '\010a'; } /* 'Ċ' */
.icon-form-file:before { content: '\010b'; } /* 'ċ' */
.icon-form-angle-left:before { content: '\010c'; } /* 'Č' */
.icon-form-angle-right:before { content: '\010d'; } /* 'č' */
.icon-form-resize-vertical:before { content: '\010e'; } /* 'Ď' */
.icon-form-resize-full:before { content: '\010f'; } /* 'ď' */
.icon-form-external-link:before { content: '\0110'; } /* 'Đ' */
.icon-form-close:before { content: '\0111'; } /* 'đ' */
.icon-form-folder-open:before { content: '\0112'; } /* 'Ē' */
.icon-form-block:before { content: '\0113'; } /* 'ē' */
.icon-form-calendar:before { content: '\0114'; } /* 'Ĕ' */
.icon-form-clock:before { content: '\0115'; } /* 'ĕ' */
.icon-form-angle-up:before { content: '\0116'; } /* 'Ė' */
.icon-form-angle-down:before { content: '\0117'; } /* 'ė' */
.icon-form-calendar-today:before { content: '\0118'; } /* 'Ę' */