#format for one row is:
# id:path-to-source-scss-from-root:path-to-destination-css-from-root
#application
app:private/local/simplex/sass/application.scss:public/local/simplex/css/application.min.css
#ERP
erp:private/share/packagist/vukbgit/simplex/src/Erp/sass/erp.scss:public/share/simplex/Erp/css/erp.min.css
tb:private/share/packagist/vukbgit/simplex/src/Erp/sass/table.scss:public/share/simplex/Erp/css/table.min.css
#sign-in
si:private/share/packagist/vukbgit/simplex/src/Authentication/sass/sign-in.scss:public/share/simplex/Authentication/css/sign-in.min.css
#Backend
bsb:private/local/simplex/Backend/sass/bootstrap.scss:public/local/simplex/Backend/css/bootstrap.min.css
#Frontend
bsf:private/local/simplex/Frontend/sass/bootstrap.scss:public/local/simplex/Frontend/css/bootstrap.min.css
fe:private/local/simplex/Frontend/sass/frontend.scss:public/local/simplex/Frontend/css/frontend.min.css
