#format for one row is:
# id:path-to-source-scss-from-root:path-to-destination-css-from-root
bs:private/local/simplex/sass/bootstrap.scss:public/local/simplex/css/bootstrap.min.css
app:private/local/simplex/sass/application.scss:public/local/simplex/css/application.min.css
fe:private/local/simplex/Frontend/sass/frontend.scss:public/local/simplex/Frontend/css/frontend.min.css
